[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
google = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-cloud-bigquery = "*"
pandas-gbq = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
